---
import { getI18N } from "@/i18n";
import ExpandableCard from "../components/ExpandableCard.astro";
import NoDataCard from "../components/NoDataCard.astro";
import { cardsData } from "../data/articles.js";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col gap-y-3">
  <div class="text-center mb-6">
    <h2 class="text-2xl font-bold text-hub-title dark:text-hub-title-dark">
      {i18n.TIMELINE.TITLE}
    </h2>
  </div>
  
  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <ExpandableCard
          id={card.id}
          title={card.title}
          subtitle={card.subtitle}
          description={card.description}
          details={card.details}
          showImage={false}
        />
      ))
    ) : (
      <NoDataCard
        message={i18n.TIMELINE.empty.message}
        subtitle={i18n.TIMELINE.empty.message2}
        imageSrc="/img/notion/white/my-notion-face-transparent_8.png"
      />
    )
  }
</div>
