---
import BooksMarks from "./BooksMarks.astro";
import Projects from "./Projects.astro";
import Articles from "./Articles.astro";
import NavButton from "./index/NavButton.astro";
import SectionContainer from "./SectionContainer.astro";
import EducationHub from "./EducationHub.astro";
// import FunHobbies from "./FunHobbies.astro";
import ShopNow from "./ShopNow.astro";
import { getI18N } from "@/i18n";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col">
  <nav
    class="flex gap-1 text-hub-inactive rounded-full border-[1px] p-[2px] border-hub-border dark:border-hub-border-dark bg-hub-background-nav dark:bg-hub-background-nav whitespace-nowrap overflow-x-auto scrollbar-hide"
  >
    <NavButton class="tab-btn" aria-label="btn-deliverables" data-target="deliverables"
      >{i18n.NAVBAR.DELIVERABLES}</NavButton
    >
    <NavButton class="tab-btn" aria-label="btn-timeline" data-target="timeline"
      >{i18n.NAVBAR.TIMELINE}</NavButton
    >
    <NavButton
      class="tab-btn"
      aria-label="btn-pricing"
      data-target="pricing">{i18n.NAVBAR.PRICING}</NavButton
    >
    <NavButton
      class="tab-btn"
      aria-label="btn-training"
      data-target="training">{i18n.NAVBAR.TRAINING}</NavButton
    >
    <NavButton class="tab-btn" aria-label="btn-checkout" data-target="checkout"
      >{i18n.NAVBAR.CHECKOUT}</NavButton
    >
  </nav>

  <main class="mt-6">
    <SectionContainer id="deliverables" class="tab-content mt-0 mb-0">
      <Projects />
    </SectionContainer>
    <SectionContainer id="timeline" class="tab-content hidden mt-0 mb-0">
      <Articles />
    </SectionContainer>
    <SectionContainer id="pricing" class="tab-content hidden mt-0 mb-0">
      <BooksMarks />
    </SectionContainer>
    <SectionContainer id="training" class="tab-content hidden mt-0 mb-0">
      <EducationHub />
    </SectionContainer>
    <SectionContainer id="checkout" class="tab-content hidden mt-0 mb-0">
      <ShopNow />
    </SectionContainer>
  </main>
</div>

<script>
  const buttons = document.querySelectorAll(".tab-btn");
  const contents = document.querySelectorAll(".tab-content");

  // Establece el bot贸n activo por defecto
  const defaultActive = document.querySelector('[data-target="deliverables"]');
  if (defaultActive) {
    defaultActive.classList.add(
      "bg-hub-background",
      "drop-shadow-md",
      "text-hub-title",
      "font-bold",
      "dark:text-hub-title-dark",
      "dark:bg-hub-background-dark",
    );
    const deliverablesSection = document.getElementById("deliverables");
    if (deliverablesSection) {
      deliverablesSection.classList.remove("hidden");
    }
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const target = button.getAttribute("data-target");

      // Actualiza el estado de los botones
      buttons.forEach((btn) =>
        btn.classList.remove(
          "bg-hub-background",
          "drop-shadow-md",
          "text-hub-title",
          "font-bold",
          "dark:text-hub-title-dark",
          "dark:bg-hub-background-dark",
        ),
      );
      button.classList.add(
        "bg-hub-background",
        "drop-shadow-md",
        "text-hub-title",
        "font-bold",
        "dark:text-hub-title-dark",
        "dark:bg-hub-background-dark",
      );

      // Oculta todas las secciones
      contents.forEach((content) => content.classList.add("hidden"));

      // Muestra la secci贸n seleccionada
      if (target) {
        const targetElement = document.getElementById(target);
        if (targetElement) {
          targetElement.classList.remove("hidden");
        }
      }

      // Desliza el bot贸n al centro del nav
      button.scrollIntoView({
        behavior: "smooth", // Deslizamiento suave
        block: "nearest", // Mantiene la posici贸n vertical
        inline: "center", // Centra horizontalmente
      });
    });
  });
</script>
